
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root{
    --color-primario:#000000;
    --color-segundario: azure;
    --color-terceario: #94d2bd;
    --color-hover: #415a77;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-segundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: "Oswald", serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terceario);
    text-decoration: none;
}


.titulo-destacado{
    color: var(--color-terceario);
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5.5% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 2.375rem;
    font-family: "Oswald", serif;
}

.presentacion_contenido_texto{
    font-size: 1.375rem;
    font-family: "Oswald", serif;
}

img {
    width: 500px; 
  height: 550px; 
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.presentacion_enlace_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 1.875rem;
    font-family: "Oswald", serif;
    text-decoration: none;
    color: var(--color-segundario);
    border: 2PX solid var(--color-terceario);
   display: flex;
   justify-content: center;
   gap: 10px;
}

.presentacion_enlaces_subtitulos{
    font-family: "Oswald", serif;
    font-size: 1.875rem;
    font-weight: 400;
}

.presentacion_enlace_link img{
    width: 42px; 
  height: 42px;
}

.presentacion_enlace_link:hover{
    background-color: var(--color-hover);
}

.presentacion_imagen{
    width: 40%;
}


.footer{
    background-color: var(--color-terceario);
    padding: 25px;
    color: var(--color-primario);
    text-align: center;
    font-family: "Oswald", serif;
    font-size: 1.125rem;
}

@media(max-width:1352px){

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column;
        padding: 5%;
    }

    .presentacion_imagen{
        
        width: 75%; 
        height:auto;
    }

    .presentacion_contenido{
        width: auto;
    }

}